body            { background-color: #e6e2dd; white-space:nowrap; }

div		{}
table		{white-space:nowrap; }
tr		{}
td		{}
ul		{ list-style-type: none; margin: 0; padding: 0; }
li		{ display: inline; }
p		{}

a:link		{ text-decoration: none; color: #d9d2bd; }
a:visited 	{ text-decoration: none; color: #d9d2bd; }
a:hover		{ text-decoration: underline; color: #a3887a; }
a:active	{ text-decoration: underline; color: #735457;}

#header 	{ position: relative; top: -10px; background-color: #616655; }
#usr_menu	{ right: 500px; }
#site_menu	{ width: 50%; margin: 0 auto;}

.user            { text-align: right; }
.user ul         { display: inline-block; *display: inline;  }
.user li         { float: left; padding: 2px 5px; font-size: 90%;}


.nav		{ text-align: center; }
.nav ul		{ display: inline-block; *display: inline;  }
.nav li		{ float: left; padding: 2px 5px; font-size: 150%; }
