<!-- extend base layout -->
{% extends "base.html" %}

{% block content %}
<div class="body">
<h1>Register for game</h1>

<!--- show games-->
<table>
        <tr>
                <th>Games:</th>
                <th>Description:</th>
        </tr>
                {% for g in games %}
        <tr>
                <td>{{ g.game_name }}</td>
                <td>{{ g.game_description }}</td>
        </tr>
                {% endfor %}
<table>
<br><br>

<form action="{{ url_for('register') }}" method="post" >
        {{form.hidden_tag()}}
        <dl>
		<dt>Game Name:</dt>
                        <dd>{{ form.game_name(size=24) }}
                        {% for error in form.errors.game_name %}
                                <span style="color: red;">[{{ error }}]</span>
                        {% endfor %}<br>
                	</dd>
		</dt>
        </dl>
        <input type="submit" value="Register" class="btn-style">
                
       
</form>
</div>
{% endblock %}


